.img-cont
{
    position:relative;
	text-align:center;
}

.img-cont .top 
{
  position: absolute;
  z-index: 1;
}

.mdl-slider
{
    margin-top:-20px;
}

.mdl-slider__background-upper
{
    background:grey;
    opacity: .55;
}


.mdl-slider__background-flex
{
    height:20px;
    top:0px;
}


.mdl-slider__container
{
    height:40px;
}

h1
{
    text-align:center;
    margin-top:2px;
    margin-bottom:2px;
}


.mdl-card
{
    width:500px;
}


#mdl-card_text
{
    padding:0px;
}

.cont
{
    display:inline-flex;
    width:100%;
    padding-bottom:15px;
}

.on_off
{
    width:50%;
    text-align:center;
}

#mdl-icon_title
{
    font-size:50px;
    vertical-align:middle;
}

    
