<!DOCTYPE html>
<html lang="en">
  

<!-- ................................ HEAD .................................. -->
<head>
   
  <title>Layout Test</title>

  <link id="pagestyle" rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-red.min.css">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
  <link rel="stylesheet" type="text/css" href="layout.css">
  <script src="layout.js"></script>
</head>
<!-- ................................ HEAD .................................. -->





<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
      
    <!-- .......................... Header ...................................... -->
    <header  class="mdl-layout__header" >
      <!-- Title
      <div class="mdl-layout__header-row" >
        <span class="mdl-layout-title">The Clayton Smart Home</span>
      </div>
      -->
      <!-- Tabs -->
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect"  >
        <a href="#fixed-tab-1" class="mdl-layout__tab is-active" onclick="swap_style('temp')"   >Temperature</a>
        <a href="#fixed-tab-2" class="mdl-layout__tab"           onclick="swap_style('lights')" >Lights</a>
        <a href="#fixed-tab-3" class="mdl-layout__tab"           onclick="swap_style('harmony')">Harmony</a>
      </div>
    </header>
    <!-- ....................... End Header ...................................... -->
    
    <main class="mdl-layout__content">
      
      <!-- .......................... Temperature Tab ............................ -->
      <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
        <div class="page-content" >
          <!-- Temperature Content -->
          <div class="mdl-grid" style="padding-top:50px">
        	  <div class="mdl-cell"  id="cell">
              <div class="title-cont">
					      <h1 id="title">
                  <i class="material-icons" id="mdl-icon_title">wb_sunny</i>
                </h1>
                <h1 id="title">
                  Temperature
                </h1>
                <h1 id="title">
                  <i class="material-icons" id="mdl-icon_title">wb_sunny</i>
                </h1>
              </div><!-- End Title -->
            </div> <!-- End mdl-cell -->
          </div> <!-- End mdl-grid -->      
          

		    <!-- Temperature Content -->
        </div>
      </section>
      <!-- .......................End Temperature Tab ............................ -->
    
      <!-- .......................... Lights Tab ................................. -->
      <section class="mdl-layout__tab-panel" id="fixed-tab-2">
        <div class="page-content">
          <!-- Lights Content -->
          <div class="mdl-grid" style="padding-top:50px">
        	  <div class="mdl-cell mdl-shadow--2dp" >
              <div class="title-cont">
					      <h1 id="title">
                  <i class="material-icons" id="mdl-icon_title">lightbulb_outline</i>
                </h1>
                <h1 id="title">
              	  Lights
                </h1>
                <h1 id="title">
                  <i class="material-icons" id="mdl-icon_title">lightbulb_outline</i>
                </h1>
              </div><!-- End Title -->
            </div> <!-- End mdl-cell -->
          </div> <!-- End mdl-grid -->      
          <!-- Lights Content -->
        </div>
      </section>
      <!-- .......................End Lights Tab ................................. -->
    
      <!-- .......................... Harmony Tab ................................ -->
      <section class="mdl-layout__tab-panel" id="fixed-tab-3">
        <div class="page-content">
          <!-- Harmony Content -->
          <div class="mdl-grid" style="padding-top:50px">
            <div class="mdl-cell mdl-shadow--2dp" >
              <div class="title-cont">
					      <h1 id="title">
                  <i class="material-icons" id="mdl-icon_title">tv</i>
                </h1>
                <h1 id="title">
                  Harmony
                </h1>
                <h1 id="title">
                  <i class="material-icons" id="mdl-icon_title">tv</i>
                </h1>
              </div><!-- End Title -->
            </div> <!-- End mdl-cell -->
          </div> <!-- End mdl-grid -->      
          <!-- Lights Content -->
        </div>
      </section>
      <!-- ....................... End Harmony Tab ................................ -->
<p id="test"></p>    
  
    </main>

    <!-- .................... Footer ................ -->
    <footer id="foot" class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div style="color:black;" class="mdl-logo">
          <button id="theme" onclick="change_theme()" class="mdl-button mdl-js-button mdl-button--raised" style="background:white">
          </button>
        </div>
        
      </div>
    </footer>
    <!-- .................... End Footer ................ -->
  </div><!-- End mdl-layout -->

<script>
a = change_theme("start");

shadow("start");
document.getElementById("cell").onmouseover = function() {shadow(4);};
//document.getElementById("cell").onmouseout  = function() {shadow(2);};

</script>

</body>

</html>
