

h1
{
    text-align:center;
    margin-top:2px;
    margin-bottom:2px;
}


.mdl-card
{
    width:500px;
}


#mdl-card_text
{
    padding:0px;
}

.cont
{
    display:inline-flex;
    width:100%;
    padding-bottom:15px;
}

.on_off
{
    width:50%;
    text-align:center;
}

