.bar-step {
    position:absolute;
    margin-top:-15px;
	z-index:-1;
}


.label-line {
    float: right;
    height:60px;
	width:5px;
    z-index: -1;
    background: grey;
}

h1
{
text-align: center;
}

h2
{
text-align: center;
padding-bottom: 20px;
}

#bar
{
	font-size:20px;
	vertical-align:text-top;
	padding-top: 5px;
}

